/*----------------------------------------------------------------------------------------------------
`YGPA CSS define
----------------------------------------------------------------------------------------------------*/
table .searchPanel {
  width: 100%;
  white-space: nowrap;
}

.emdPanel {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 100%;
	padding: 4px;
}

.emdTabPage {
	overflow: scroll;
}

.emdControlPanel {
	padding: 4px;
	bottom: 4px;
	width:100%;
	text-align: right;
}

.viewStack {

}

.viewPanel {
	width: 100%;
	height: 100%;
}

.viewStack > .viewPanel {
	padding: 0px;
}

.searchPanel th {
  background: #FFF /* url(../images/gui/bar_top.png) */ repeat-x left bottom;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  text-shadow: #fff 0 1px 1px;
  white-space: nowrap;
  padding: 4px 8px;
  vertical-align: middle;
}

.searchPanel td {
	background: #fff;
	padding: 2px;
  vertical-align: middle;
}


.searchPanel th:first-child {
  border-left: 0;
}

.searchPanel tr:nth-child(even) {
  background: #def;
}

.searchPanel tr.active {
  background: #06c /* url(../images/gui/bar_top_link.png) */ repeat-x;
  color: #fff;
}

.searchPanel th.shrink {
  width: 1%;
}

.buttonSearch {
width: 100%;
height: 100%;
vertical-align: middle;
}

.editPanel table {
	width: 100%;
}

.editPanel th {
	background: #2FDAFF;
/* 	  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff; */
  font-weight: bold;
  text-shadow: #000 0 1px 1px;
  white-space: nowrap;
  padding: 4px 8px;
  vertical-align: middle;
  	border: gray solid 1px;
}

.editPanel td {
	background: #fff;
  vertical-align: middle;
  color: black;
/*   	border: gray solid 1px;
 */
 }

.editPanel tr {
  background: #06c repeat-x;
  color: #fff;
}

.editForm th {
	background: #F9FAFC;
	/* font-weight: bold; */
	/* text-shadow: #000 0 1px 1px; */
	white-space: nowrap;
	padding: 4px 8px;
	vertical-align: middle;
	color: black;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;
}

.editForm td {
	background: #fff;
	color: #615E5E;
  vertical-align: middle;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;
}

.editForm tr {
  background: #06c repeat-x;
  color: #fff;
}

.detailForm table {
	width: 100%;
	background: white;
}

.detailForm th {
	background: #F9FAFC;
	/* font-weight: bold; */
	/* text-shadow: #000 0 1px 1px; */
	white-space: nowrap;
	padding: 4px 8px;
	vertical-align: middle;
	color: black;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;
}

.detailForm td {
	background: #fff;
	color: #615E5E;
  vertical-align: middle;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;
}

.detailForm tr {
  background: #06c repeat-x;
  color: #fff;
}

table.detailPanel {
	margin-bottom: 3px;
}

.detailPanel table {
	width: 100%;
	background: white;
  border : gray solid 1px;
}

.detailPanel th {
	background: #F9FAFC;
	/* font-weight: bold; */
	/* text-shadow: #000 0 1px 1px; */
	white-space: nowrap;
	padding: 4px 8px;
	vertical-align: middle;
	color: black;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;
}

.detailPanel td {
	background: #fff;
	color: #615E5E;
  vertical-align: middle;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;
}

.detailPanel tr {
  background: #06c repeat-x;
  color: #fff;
}

.detailPanel tr.detailRowSelected {
	background: #25338B;
	color: #fff;
}

.detailPanel tr.detailRowSelected>td {
	background: #25338B;
	color: #fff;
}

.summaryPanel table {
	width: 100%;
	background: white;
	  border : gray solid 1px;
	margin-bottom: 4px;
}

.summaryPanel th {
	background: #F9FAFC;
	/* font-weight: bold; */
	/* text-shadow: #000 0 1px 1px; */
	white-space: nowrap;
	padding: 4px 8px;
	vertical-align: middle;
	color: black;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;

}

.summaryPanel td {
	background: #fff;
	color: #615E5E;
  vertical-align: middle;
	border: rgb(210, 210, 210) solid 1px;
	border-left-style: none;
	border-right-style: none;

}

.summaryPanel tr {
  background: #06c repeat-x;
  color: #fff;
}

.summaryPanel input[type="text"]:disabled {
	color: #000;
/*	background-color: #CACACA; */
	border-style: none none none;
}

.ygpaNumber {
	text-align: right;
}

.searchPanel th.shrink {
  width: 1%;
}

.dialog {
overflow: hidden;
}

input[type="text"]:disabled {
	color: #000;
	background-color: white;
	/* border-style: none; */
	border-bottom: solid #d9d9d9 1px;
	border-left: none;
	border-right: none;
	border-top: none;
}
select:disabled, textarea:disabled { color: #000; background-color: #ebebe4; border-style: dotted; }

.prtFcltyInfo div {
	  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.prtFcltyInfo h2 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
  text-shadow: #000 0 1px 1px;
}

.prtFcltyInfo table {
	  width: 100%;
  white-space: nowrap;
}

.prtFcltyInfo th {
	background: #2FDAFF;
	  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  text-shadow: #000 0 1px 1px;
  white-space: nowrap;
  padding: 4px 8px;
  vertical-align: middle;
}

.prtFcltyInfo td {
	background: #fff;
	color: #615E5E;
  vertical-align: middle;
}

.prtFcltyInfo tr {
  background: #06c repeat-x;
  color: #fff;
}

.ui-icon-excel-down { width: 30px; height: 32px; background-image: url(../../../images/egovframework/ygpa/gam/icons/excel_icon.png); }

.printPage {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.printSubPage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .printPage {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

 input.mngYear {
 	width: 40px;
 }

 input.mngNo {
 	width: 30px;
 }

 input.mngCnt {
 	width: 20px;
 }

 input.gisAssetsCd {
 	width: 30px;
 	text-transform: uppercase
}

 input.gisAssetsSubCd {
 	width: 20px;
 }


 div.olControlFinishEditShapeFeaturesItemActive {
    background-image: url(../../../images/egovframework/ygpa/gam/maps/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}
div.olControlFinishEditShapeFeaturesItemInactive {
    background-image: url(../../../images/egovframework/ygpa/gam/maps/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

div.olControlEditPointAddFeaturesItemActive {
    background-image: url(../../../images/egovframework/ygpa/gam/maps/add_point_on.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

div.olControlEditPointAddFeaturesItemInactive {
    background-image: url(../../../images/egovframework/ygpa/gam/maps/add_point_off.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

div.olControlMoveShpaeFeaturesItemActive {
    background-image: url(../../../images/egovframework/ygpa/gam/maps/move_feature_on.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

div.olControlMoveShpaeFeaturesItemInactive {
    background-image: url(../../../images/egovframework/ygpa/gam/maps/move_feature_off.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}


.mapMeasureToolBar {
	float: left;
	top: 2px;
	right: 2px;
	height: 30px;
}

.mapMeasureToolBar div {
	float: right;
	margin: 0px;
    width: 38px;
    height: 30px;
    cursor: pointer
}

.mapMeasureToolBar .olControlMeasureAreaItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/measure_area_off.png");
    width: 40px;
	background-repeat: no-repeat;
}

.mapMeasureToolBar .olControlMeasureAreaItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/measure_area_on.png");
    width: 40px;
	background-repeat: no-repeat;
}

.mapMeasureToolBar .olControlMeasureDistItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/measure_dist_off.png");
    background-repeat: no-repeat;
}

.mapMeasureToolBar .olControlMeasureDistItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/measure_dist_on.png");
    background-repeat: no-repeat;
}

div.olPopupContent {
	overflow: visible;
	background: gray;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.olControlMeasurePopup {
	border: solid black 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.mapEditToolBar {
	float: left;
	top: 2px;
	right: 102px;
	height: 31px;
}

.mapEditToolBar div {
	float: left;
	margin: 0px;
    width: 12px;
    height: 31px;
    cursor: pointer;
}

.mapEditToolBar .olControlEditAddPointItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/add_point_off.png");
    width: 24px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditAddPointItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/add_point_on.png");
    width: 24px;
background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditAddLineItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/add_feature_off.png");
    width: 20px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditAddLineItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/add_feature_on.png");
    width: 20px;
background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditAddItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/add_polygon_off.png");
    width: 21px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditAddItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/add_polygon_on.png");
    width: 21px;
background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditEditItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/edit_feature_off.png");
    width: 18px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditEditItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/edit_feature_on.png");
    width: 18px;
background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditDeleteItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/delete_feature_off.png");
    width: 21px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditDeleteItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/delete_feature_on.png");
    width: 21px;
background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditDoneItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/save_feature_off.png");
    width: 18px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditDoneItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/save_feature_on.png");
    width: 18px;
background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditCancelItemInactive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/cancel_feature_off.png");
    width: 29px;
	background-repeat: no-repeat;
}

.mapEditToolBar .olControlEditCancelItemActive {
    background-image: url("../../../images/egovframework/ygpa/gam/maps/cancel_feature_on.png");
    width: 29px;
	background-repeat: no-repeat;
}

.olFramedCloudPopupContent h1 {
	background: #ccf;
	border-color: #ddd;
	font-size: 20px;
	margin-bottom: 4px;
}

.olFramedCloudPopupContent h2 {
	background: #ccf;
	border-color: #ddd;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
}